<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pluu.suitabletips" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DemoMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ColorFilterActivity"
            android:label="@string/title_activity_color_filter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.suitabletips.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ColorFilterItemsActivity"
            android:label="@string/title_activity_color_filter_items" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.suitabletips.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LightingColorFilterActivity"
            android:label="@string/title_activity_lighting_color_filter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.suitabletips.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditTextActivity"
            android:label="@string/title_activity_edit_text" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.suitabletips.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectorActivity"
            android:label="@string/title_activity_selector" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.suitabletips.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InsetDrawableActivity"
            android:label="@string/title_activity_inset_drawable" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.suitabletips.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SqliteActivity"
            android:label="@string/title_activity_sqlite" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.suitabletips.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelListDrawableActivity"
            android:label="@string/title_activity_level_list_drawable" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.suitabletips.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
